CREATE DataBase UserDB;
GO
USE UserDB;
GO
CREATE TABLE Users(
ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
Username VARCHAR(255) NOT NULL,
Password VARCHAR(MAX) NOT NULL);
GO

CREATE TABLE Salt(
ID INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
SaltValue VARCHAR(MAX) NOT NULL);
GO